/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    

}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  
}



.primary-button{
    outline:0;
    border:0;
    padding: 15px 20px;
    background-color:  #E02C6D;
    color: white;
    font-size: 18px;
    border-radius: 109px;
    cursor: pointer;
    position: relative;
    top:0;
}

.see-more-button{
    outline:0;
    border:0;
    padding: 15px 20px;
    background-color: #FFFFFF;
    margin-left: 949px;
   
    color: #E02C6D;
    font-size: 18px;
   
    cursor: pointer;
    position: relative;
    top:0;
}

.primary-button:active{
    top:5px;
    box-shadow: 0 2px 0 #a5085f;
}

/* navigation part start */
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  
}

.navigation{
    display: flex;
}

.navigation li{
    list-style: none;
    margin: 10px;
}

.navigation li a{
    text-decoration: none;
    color:black;
    font-weight: 600;
    padding: 15px 10px;
}


.logo{
    margin-top: 100px;
}

.li-margin{
    margin-top: 100px;
}

.banner{
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6%;
}

.banner-left h1{
    font-size: 50px;
   color: #141313;
   width: 582px;
   height: 133px;
}


.banner-left p{
   
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}

.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.banner-right img{
    width: 100%;
  
    
  
    
}

.image-padding{
    padding:60px;
}


.img-banner{
    background-image: url(../images/Circle\ design.svg);
    width: auto;
    height: 440px;
 
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


.banner-right{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* horizontal line start */
.horizontal-line {
    
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.171), 0 6px 20px 0 rgba(0, 0, 0, 0.041);
}

.logos img{
    width: 90px;
}

.logos{
    display: flex;
    align-items: center;
    margin-left:10px;
    gap: 75px;
}

/* collection part start */

.section-title{
    
    font-size: 24px;
    margin: 53px;
    text-align: center;
} 
   
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
   

}

.collection{
    width: 253px;
    
    margin: 60px;
    padding-left: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.collection .collection-banner img{
    width: 224px;
height: 220px;
margin-top: 18px;
}

.collection-details{
    margin: 15px 0;
    
}

.collection-price{
    margin-top: 12px;
}
.collection-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.collection-shipping{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}


.fa-star.filled{
    color:#FB8200;
}


.half-filled{
    color:#FB8200;
}

/* email part start */
.flexible-container{
    display: flex;
    margin: 130px 0;
}

.half-width{
    line-height: 40px;
}

.half-width img{
    width: 80%;
}

.pa{
    padding: 17px 33px;
}

.link{
    margin-top: 25px;
}

.link_button{
    text-decoration: none;
    outline:0;
    border:0;
    padding: 15px 20px;
    background-color:  #E02C6D;
    color: white;
    font-size: 18px;
    border-radius: 109px;
    cursor: pointer;
    position: relative;
    top:0;
}
    
.arrow{
    padding-left: 10px;
}
    

/* footer part start */

footer{
    background-color: #0A0826;
      width: auto;
    
   
}

.footer-influence{
    width: 150%;

}

footer h4{
    font-size: 24px;
   padding-top: 30px;
   font-weight: 700;
   color: #FFFFFF;
   
}

footer p{
    font-size: 14px;
    color:#FFFFFF;
    
}


.footer-icon{
    color:#ffffffe8;

   
  
}

.fa-bars{
    color: black;
}

.back{
font-size: 15px;
 width: 27px;
 height: 27px;
 padding-top: 6px;
 background-color: #7d76944f;
 border-radius: 80%;
 margin: 20px 0;
   
    
}

.footer-influencer{
    text-align: center;
    line-height: 35px;
}


#nav-toggler{
    display: none;
}

.nav-toggler-icon{
    display: none;
    color: #fff;
    font-size: 30px;
}


/* responsive part start */

@media (max-width:600px){

        .banner {
        
        
            grid-template-columns: repeat(1, 1fr);
            height: fit-content;
           
        }

        .banner-left{
            align-items: flex-start;
            order: 2;
            padding: 50px 0;
        }

        .banner-right img {
            width: 100%;
        }   
            
        .banner h1{
            font-size: 20px;
            width: 200px;
            height: 74px;
           margin-bottom: 0;
        }
       .banner p{
           margin-top: 2px;
       }
        .see-more-button {
            margin-left: 652px;
        }

        .collections{
            grid-template-columns: repeat(1, 1fr);
        }
    
        .collection{
            margin-left: 44px;
        }
        .see-more-button{
        
            margin-left: 120px;
           }

           .flexible-container{
               display: grid;
               grid-template-columns: repeat(1,1fr);
               margin: auto;
           }

           
           .nav-toggler-icon{
            display: block;
        }
        .navigation{
            
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            flex-direction: column;
            align-items: center;
            background-color: white;
            padding: 20px 0;
            transform: translateY(-530px);
            transition: .5s ease-in-out;
        }
        .navigation li a{
            color: #121212;
        }
        #nav-toggler:checked ~ .navigation{
            transform: translateY(-40px);
        }
       .logo{
        margin-top: 12px;

        }
        .horizontal-line{
            display: none;
        }

        .fa-bars {
            color: black;
            /* margin: -491px; */
            height: 0;
            
            /* margin: 0; */
        }
    }


    @media only screen and (min-width:688px) and (max-width:992px){
        .container{
            
            width: 135%;
            
        }

        .horizontal-line {
           
            padding: 0px;
        }

        .collections{
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }
        .see-more-button {
           
            margin-left: 802px;
            
        }
        footer {
           
            width: 1111px;
        }

       
    }