/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    

}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  
}



.primary-button{
    outline:0;
    border:0;
    padding: 15px 20px;
    background-color:  #E02C6D;
    color: white;
    font-size: 18px;
    border-radius: 109px;
    cursor: pointer;
    position: relative;
    top:0;
}

.primary-button:active{
    top:5px;
    box-shadow: 0 2px 0 #a5085f;
}


.banner{
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6%;
}

.banner-left h1{
    font-size: 50px;
   color: #141313;
   width: 582px;
   height: 133px;
}


.banner-left p{
   
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}

.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.banner-right img{
    width: 100%;
   height: 62%;
    
  
    
}

.image-padding{
    padding:30px;
}


.img-banner{
    background-image: url(../images/Circle\ design.svg);
    width: auto;
    height: 440px;
 
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


.banner-right{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



/* collection part start */
   
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.collection{
    width: 253px;
    margin: 30px;
   
}

.collection .course-banner img{
    width: 224px;
height: 220px;
}

.course-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
